.about-content {
    color: rgba(255, 255, 255, .7);
    width: 60vw;
}

p {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

.about-content img {
    float: left;
    height: auto;
    width: 360px;
    padding: 0 30px  30px 0;
}