.gallery {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.logo{
    width: 60%;
    height: auto;
}

.gallery img {
    display: block;
    border: 1px solid black;
    width: 100%;
    margin-top: 20px;
}

.gallery img:hover {
    opacity: 80%;
}

.column {
    flex: 45%;
    max-width: 45%;
    padding: 20px 10px;
}

.navbar {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.filter-button {
    color: white;
    background: none;
    font-weight: 800;
    font-size: larger;

}

.filter-button:hover {
    border: 1px solid white;
}