.gallery {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.gallery img {
    display: block;
    border: 1px solid black;
    width: 100%;
    margin-top: 20px;
}

.column {
    flex: 45%;
    max-width: 45%;
    padding: 20px 10px;
}


