.gallery {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.gallery img {
    display: block;
    border: 1px solid black;
    width: 100%;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 20px 20px;
}


