.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-visual {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80%;
    padding: 20px;
    background-color: rgb(25, 25, 25);
    border: 1px solid blue;
}

.modal-controls {
    height: 80%;
    width: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid green;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.modal img{
    border: 1px solid white;
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}